<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", rooms_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Reservations", your_bookings_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your reservations
			</div>
			<div class="panel-body">

				<% @rooms.each do |room| %>
					<% @bookings.each do |booking| %>
					<div class="row">
						<div class="col-md-2">
							<%= booking.start_date.strftime('%v') %>
						</div>
						<div class="col-md-6">
							<%= link_to room_path(booking.room) do %>
								<%= image_tag booking.room.photos[0].image.url(:thumb) %>
							<% end %>
						</div>
						<div class="col-md-2">
							<%= link_to user_path(booking.user) do %>
								<%= image_tag avatar_url(booking.user), class: "img-circle avatar-medium" %>
							<% end %>
						</div>
						<div class="col-md-2 right">
							<h4>$<%= trip.total %></h4>
						</div>
					</div>
					<hr>
					<% end %>	
				
			  	<% end %>
				
			</div>
		</div>
	</div>
</div>